/* Variables */

:root {
  --basic-blue: #32425c;
  --basic-blue-dark: #293449;
  --basic-yellow: #ffbf47;
  --basic-yellow-dark: #ffd180;
  --basic-pink: #ee3643;
  --basic-pink-dark: #ba2732;
  --basic-white: #ffffff;
  --basic-green: #63a63e;
  --basic-green-light: #5fbb2d;
  --basic-green-dark: #518534;
  --basic-grey: #b5b5b5;
  --basic-grey-light-one: #c5c5c5;
  --basic-grey-light: #e5e5e5;
  --basic-grey-dark: #a9a9a9;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-special: #f3f7f9;
}
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-white);
  color: var(--basic-black);
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden, {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*Grid*/
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  align-content: start;
}
/*Header*/
/*Top-header*/
.main-header{
  background-color: var(--basic-special);
}
.top-header{
  background-color: var(--basic-blue-dark);
  color: var(--basic-white);
  min-height: 42px;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: Cuprum, Arial, sans-serif;
  line-height: 24px;
  position: relative;
}
.wrapper, .wrapper-footer, .main-menu{
  width: 940px;
  margin: 0 auto;
}
/*Logo*/
.logo-header{
  height: 47px;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}
.logo{
  background-color: var(--basic-pink);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 220px;
}
.logo:hover,
.logo:focus{
  background-color: var(--basic-pink);
}
.logo:active{
  background-color: var(--basic-pink-dark);
}
.logo a{
  display: block;
  padding-left: 55px;
  padding-top: 12px;
}
/*Search*/
.search {
  width: 270px;
  min-height: 42px;
  margin-left: 220px;
}
.search input[type="search"] {
  border: none;
  background-color: inherit;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-top: 9px;
}
/*Эффект при наведении на поиск не работает*/
.search input[type="search"]:active,
.search input[type="search"]:focus, {
 border: none;
 opacity: 0.5;
 background-color: var(--basic-blue);
}
/*Не вставляется иконка поиска*/
.search input[type="search"]::before {
  content: "не вставляется иконка";
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url("../img/icon-search.svg");
  top: 12px;
  left: 367px;
}
::-webkit-input-placeholder { /* Chrome */
  color: var(--basic-white);
}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--basic-white);
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--basic-white);
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: var(--basic-white);
}
/*Bookmarks and Basket*/
.bookmarks a{
  display: block;
  padding-top: 9px;
  padding-right: 24px;
  padding-bottom: 9px;
  padding-left: 43px;
}
.bookmarks .bookmarks-link{
  position: relative;
}
.bookmarks-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left:20px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
  opacity: 0.3;
}
.basket a{
  display: block;
  padding-top: 9px;
  padding-right: 26px;
  padding-bottom: 9px;
  padding-left: 49px;
}
.basket .basket-link{
  position: relative;
}
.basket-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 26px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}
.bookmarks-link:hover::before,
.bookmarks-link:focus::before,
.basket-link:hover::before,
.basket-link:focus::before {
  opacity: 1;
}
.bookmarks-link:active,
.basket-link:active {
  background-color: #161d29;
  opacity: 0.5;
}
/*Bottom-header*/
.bottom-header{
  display: flex;
  padding-top: 46px;
  outline: 5px solid red;  
}
.description{
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-pink);
  font-style: italic;
  margin-left: 30px;
  max-width: 197px;
}
.phone{
  border: 3px solid var(--basic-white);
  background-color: var(--basic-special);
  margin-left: 93px;
  position: relative;
}
.phone .phone-number{
  box-sizing: border-box;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-pink);
  position: relative;
  display: block;
  padding-top: 7px;
  padding-left: 74px;
  width: 270px;
  min-height: 45px;
}
.phone-number::before{
  content: "";
  position: absolute;
  top: 13px;
  left: 39px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: repeat;
  background-position: 0 0;
  width: 19px;
  height: 19px;
}
.address{
  display: block;
  font-size: 14px;
  color: var(--basic-blue);
  position: absolute;
  top: 48px;
  left: 10px;
}
.order{
  background-color: var(--basic-green);
  width: 150px;
  height: 42px;
  padding-top: 9px;
  padding-left: 19px;
  box-sizing: border-box;
}
.order:hover,
.order:focus {
  background-color: var(--basic-green-light);
}
.order:active {
  background-color: var(--basic-green);
}
.order a:active {
  color: rgba(255, 255, 255, 0.5);
}

.main-menu ul{
  display: flex;
  min-height: 60px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24); 
}
.main-navigation a{
  display: block;
  padding: 20px 25px;
}
.menu{
	margin-bottom: 60px;
}

.menu,.main-footer{
  background-color: var(--basic-blue);
}
.main-menu a:hover,
.main-menu a:focus{
  background-color: var(--basic-blue-dark);
}
.main-menu a:active,
{
  opacity: 0.5;
}
.container-bottom-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.main-footer{
  display: flex;
  justify-content: center;
}

.description-company{
  width: 460px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.login-index, .registration {
  background-color: var(--basic-white);
  outline: 5px solid #ff0000;
  min-height: 45px;
}
.login-index{
  margin-right: 10px;
  max-width: 121px;
}
.registration{
  max-width: 150px;
}
.contacts{
  width: 300px;
  padding-top: 70px;
  padding-bottom: 70px;
}
 a{
  color: var(--basic-white);
 } 





.login, .registration a, .login-index a{
  font-size: 21px;
  line-height: 21px; 
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.login-index{
  width: 121px;
  min-height: 45px;
}  
.login-index .login{
  padding-left: 48px;
  position: relative;
}
.login::before{
  content: "";
  position: absolute;
  top:10px;
  left: 39px;
  background-image: url("../img/icon-login.svg");
  background-repeat: repeat;
  background-position: 0 0;
  width: 19px;
  height: 19px;
}
.button{
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-pink);
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: block;
  padding-left: 40px;
  padding-top: 11px;
  min-height: 38px;
  margin-top: 20px;
  box-sizing: border-box;
}
.button-company{
  width: 220px;
}
.title{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: normal;
}
.description-company p,.contacts p{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}
.title-product{
  color: var(--basic-blue);
}
.list-company{
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
}
.modal{
  display: none;
}
/*footer*/
.wrapper-footer{
  display: grid;
  grid-template-columns: 6;
  grid-template-rows: 2;
}
.container-top-header, .container-bottom-header{
  display: flex;
  justify-content: space-between;
}
.main-footer ul{
  width: 546px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 36px;
}
.container-bottom-header ul{
  display: flex;
  flex-wrap: wrap;
  width: 527px;
  justify-content: space-between;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 74px;
  padding: 0;
}
.logo-footer{
  height: 68px; 
}
.bottom-footer{
  background-color: var(--basic-blue-dark);
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}
.adress-footer{
  color: var(--basic-special);
}
.main-footer a{
  color: var(--basic-special);
}
.main-footer a:hover,
.main-footer a:focus{
  text-decoration: underline;
}
.main-footer a:active{
  opacity: 0.5;
  text-decoration: none;
}
.additional-footer-menu a,.mail,.url{
  color: var(--basic-yellow-dark);
}
.additional-footer-menu a:hover,
.additional-footer-menu a:focus{
  text-decoration: underline;
}
.additional-footer-menu a:active{
  text-decoration: none;
  opacity: 0.5;
}
.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-pink);
}

/*Catalog*/
.page-catalog {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;
  width: 940px;
  margin: 0 auto;
}
.page-catalog .title-product {
  grid-column: 1 / -1;
  background-color: var(--basic-special);
}
.page-catalog .breadcrumbs {
  grid-column: 1 / -1;
  margin-bottom: 40px;
}
.list-item-perforator{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: 
  margin-bottom: 25px;
}
.catalog {
  margin-left: 20px;
}

.my-order,.account{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}
.my-order:hover,
.my-order:focus,
.account:hover,
.account:focus,
.registration a:hover,
.registration a:focus,
.login-index a:hover,
.login-index a:focus{
  color:var(--basic-pink);
}
.my-order:active,
.account:active
.registration a:active,
.login-index a:active{
  color:var(--basic-grey-light-one);
}
.cart{
  width: 136px;
  height: 42px;
  background-color: var(--basic-pink);
}
.old-price{
  color: var(--basic-grey-dark);
  text-decoration: line-through;
  text-transform: uppercase;
}
.new-price{
  width: 141px;
  height: 38px;
  background-color: var(--basic-pink);
  text-transform: uppercase;
  padding-left: 32px;
  padding-top:10px;
  box-sizing: border-box;
}
.list-item-perforator li{
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* Filters */
.filters {
  width: 180px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}
.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}
.list-item-brand li,
.list-item-type li
{
	margin-top: 20px;
}
.buy,.bookmark{
  font-family: Cuprum;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  width: 135px;
  height: 38px;
}
.buy{
  background-color: var(--basic-green);
  border: none;
  color: var(--basic-white);
	
}
.bookmark{
  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
}
.breadcrumbs{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding:0;
  margin-top: 21px;
  background-color: red;
}
.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}
.breadcrumbs li::after {
  content: "f";
  position: absolute;
  width: 8px;
  height: 12px;
  background-image:url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}
.breadcrumbs li:last-child {
  margin-right: 0;
}
.breadcrumbs-current::after {
  display: none;
}


.breadcrumbs,.breadcrumbs a {
  font-family: PT Sans;
  list-style: none;
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: var(--basic-dark);
}
.list-item-brand li,
.list-item-type li{
  margin-left: 35px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  border-radius: 5px;
  border: 2px solid var(--basic-grey-light-one);
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -38px;
  width: 12px;
  height: 12px;
  background-image: url();
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
}
.list-item-brand,.list-item-type{
  font-family: PT Sans;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}
.list-item-title{
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
.name-product{
  font-family: PT Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}
.filter-button{
  font-family: PT Sans;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 1px solid var(--basic-grey-light);
}


